---
import Layout from "../layouts/LegalPagesLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const legalPages = await getCollection("legals");

  return legalPages.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} description={entry.data.description}>
  <div class="bg-orange-50 px-4 py-20 text-gray-800">
    <div class="max-w-prose mx-auto flex flex-col">
      <Content />
    </div>
  </div>
</Layout>
